@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d8d8d8;
}

.TodoWrapper {
  margin-top: 5%;
  margin-left: 10%;
  
  height: 100%;
  width: 80%;
  
  border: 4px solid #4F0DA8;
  border-radius: 15px;
  
  background-color: #d8d8d8;
  
  transition: all 300ms;

  padding: 50px;
}

.header {
  height: 15%;
  width: 89%;

  margin-bottom: 50px;

  display: flex;
  justify-content: space-between;
}

h1 {
  color: #000000;
  font-size: 1.75rem;

  transition: all 300ms;

  &:hover {
    font-size: 2rem;
}
}

.showCreateTask {
  height: 6%;
  width: 15%;

  right: 14%;

  border-radius: 25px;
  box-shadow: 0px 0px 3px 0px black;

  background-color: #7e25be;;
  font-size: 150%;
  color: #FFFFFF;

  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  transition: all 300ms;

  position: absolute;

  &:hover {
        color: #7e25be;
        background-color: white;

        transform: scale(1.1);
  }
}

.todo-input {
  height: 50px;
  width: 495px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
  box-shadow: 0px 0px 2px 0px #4F0DA8;

  color: black;

  background: white;
  border: none;
  padding: 0;
  outline: inherit;

  text-indent: 8px;
}

.todo-input::placeholder {
  color: #929292;
}

.todo-btn {
  height: 50px;
  width: 115px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  cursor: pointer;

  box-shadow: 0px 0px 2px 0px #7e25be;

  border: 1px solid white;
  color: white;

  background-color: #7e25be;
  border: none;

  transition: all 300ms;

  position: absolute;

  &:hover {
    color: #7e25be;
    background-color: white;

    width: 135px;
}
}

.Todo {
  height: 50px;
  width: 100%;

  margin-top: 20px;

  border-radius: 25px;
  box-shadow: 0px 0px 2px 0px #7e25be;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content:space-between
}

input[type="checkbox"] {
  position: relative;

  width: 1.5em;
  height: 1.5em;

  color: black;

  border: 1px solid gray;
  border-radius: 4px;

  appearance: none;
  outline: 0;
  cursor: pointer;
  margin-left: 5%;

  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

  &::before {
    position: absolute;
    content: '';

    display: block;

    top: 1px;
    left: 6px;
    width: 7px;
    height: 13px;

    border-style: solid;
    border-color: white;
    border-width: 0 0.13rem 0.13rem 0;

    transform: rotate(45deg);
    opacity: 0;
  }

  &:checked {
    color: white;
    border-color: #7e25be;

    background: #7e25be;
    &::before {
      opacity: 1;
    }
    
    ~ p::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}
 
p {
  position: relative;

  font-size: 1.0em;
  font-weight: 600;

  padding: 0 0.25em 0;

  user-select: none;
  &::before {
    position: absolute;

    content: attr(data-content);

    color: lightgray;

    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);

    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: black;

    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

.fa-trash {
  margin-right: 5%;
  
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    color: #de0000;
    box-shadow: 0px 0px 10px 0px #ff5757;
  }
}